BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "lock" SITE "H11" ;//D9
LOCATE COMP "LED[1]" SITE "J13" ;//D8
LOCATE COMP "LED[2]" SITE "J11" ;//D7
LOCATE COMP "LED[3]" SITE "L12" ;//D6
LOCATE COMP "LED[4]" SITE "K11" ;//D5
LOCATE COMP "LED[5]" SITE "L13" ;//D4
LOCATE COMP "LED[6]" SITE "N15" ;//D3
LOCATE COMP "LED[7]" SITE "P16" ;//D2



//   LOCATE COMP "a[3]" SITE "P2" ; //DIP_SW1
//   LOCATE COMP "a[2]" SITE "P1" ; //DIP_SW2
//   LOCATE COMP "a[1]" SITE "N2" ; //DIP_SW3
//   LOCATE COMP "a[0]" SITE "R1" ; //DIP_SW4
//   LED1
//   LOCATE COMP "LED1[0]" SITE "A3" ; //IO_A3
//   LOCATE COMP "LED1[1]" SITE "A4" ; //IO_A4
//   LOCATE COMP "LED1[2]" SITE "A5" ; //IO_A5
//   LOCATE COMP "LED1[3]" SITE "B7" ; //IO_B7
//   LOCATE COMP "LED1[4]" SITE "B9" ; //IO_B9
//   LOCATE COMP "LED1[5]" SITE "F7" ; //IO_F7
//   LOCATE COMP "LED1[6]" SITE "C4" ; //IO_C4
//   LOCATE COMP "LED1[7]" SITE "D6" ; //IO_D6
//   LED2
//   LOCATE COMP "LED2[0]" SITE "B4" ; //IO_B4
//   LOCATE COMP "LED2[1]" SITE "B5" ; //IO_B5
//   LOCATE COMP "LED2[2]" SITE "B6" ; //IO_B6
//   LOCATE COMP "LED2[3]" SITE "D9" ; //IO_D9
//   LOCATE COMP "LED2[4]" SITE "A10" ; //IO_A10
//   LOCATE COMP "LED2[5]" SITE "E6" ; //IO_E6
//   LOCATE COMP "LED2[6]" SITE "C5" ; //IO_C5
//   LOCATE COMP "LED2[7]" SITE "D7" ; //IO_D7
// LED3
//   LOCATE COMP "LED3[0]" SITE "C7" ; //IO_C7
//   LOCATE COMP "LED3[1]" SITE "D8" ; //IO_D8
//   LOCATE COMP "LED3[2]" SITE "E9" ; //IO_E9
//   LOCATE COMP "LED3[3]" SITE "C10" ; //IO_C10
//   LOCATE COMP "LED3[4]" SITE "D10" ; //IO_D10
//   LOCATE COMP "LED3[5]" SITE "E11" ; //IO_E11
//   LOCATE COMP "LED3[6]" SITE "B12" ; //IO_B12
//   LOCATE COMP "LED3[7]" SITE "C13" ; //DONE
// LED4
//   LOCATE COMP "LED4[0]" SITE "B16" ; //IO_B16
//   LOCATE COMP "LED4[1]" SITE "F14" ; //IO_F14
//   LOCATE COMP "LED4[2]" SITE "C15" ; //IO_C15
//   LOCATE COMP "LED4[3]" SITE "E14" ; //IO_E14
//   LOCATE COMP "LED4[4]" SITE "E15" ; //IO_E15
//   LOCATE COMP "LED4[5]" SITE "F15" ; //IO_F15
//   LOCATE COMP "LED4[6]" SITE "G15" ; //IO_G15
//   LOCATE COMP "LED4[7]" SITE "H15" ; //IO_H15
LOCATE COMP "ck" SITE "J14" ;//IO_J14
LOCATE COMP "resetn" SITE "B3" ;//SW1
LOCATE COMP "close" SITE "J15" ;//IO_J15
IOBUF PORT "lock" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "resetn" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "close" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF PORT "ck" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
// IOBUF PORT "a[2]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
// IOBUF PORT "a[1]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
// IOBUF PORT "a[0]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
// IOBUF PORT "a[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
// IOBUF PORT "b[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
// IOBUF PORT "b[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
// IOBUF PORT "b[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
// IOBUF PORT "b[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
// IOBUF PORT "a[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
// IOBUF PORT "lock" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
// IOBUF PORT "q[1]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
// IOBUF PORT "q[2]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
// IOBUF PORT "q[3]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[1]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[2]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[3]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[4]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[5]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[6]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[7]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
// IOBUF PORT "ck" PULLMODE=NONE IO_TYPE=LVCMOS33 ;

